body {
  color: #b76e22;
  background-color: #f8f8f8;
}
.container-fluid {
  overflow-y: visible;
  width: 80%;
}
.background {
  background-color: #c4d7dd;
  width: 250px;
  height: 250px;
  margin-left: 75%;
  margin-top: 20px;
  border-radius: 300px 200px / 200px 250px;
  border: solid rgb(51, 51, 51, 0.1) 2px;
}
